<p>With this app, you can visualize NYC Open Data Consumption and population from 1979 to 2016. <br> Source: <i><a href="https://opendata.cityofnewyork.us/">https://opendata.cityofnewyork.us/</a></i></p>

<br>

 <h3><a href="/signup">register</a></h3>
 <br>
 <h3><a href="/login">log in</a></h3>
