<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Parallax Template - Materialize</title>

  <!-- CSS  -->
</head>
<body>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2"><a href="/">NYC Water Data consumption</a></h1>
        <div class="row center">
          <h5>
            <form id="new-user" method="GET" action="/">
              <button type="submit">Sign Up</button>
            </form>
          </h5>

          <h5>
              <form id="login-user" method="GET" action="/">
                <button type="submit">Log In</button>
              </form>
          </h5>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="/background3.jpg" alt="Unsplashed background img 1"></div>
  </div>

  <div class="container">
    <div class="section">

      <form id="signup-form" method="post" action="/">
        <h4>Sign Up</h4>
          <label class="input-group col-1-3">
            <input id="user-username" type="text" name="user[username]">
            <span class="input-group-label"><h6>Username</h6></span>
          </label>

          <label class="input-group col-1-3">
            <input id="user-password" type="password" name="user[password]">
            <span class="input-group-label"><h6>Password</h6></span>
          </label>
          <br>

          <div class="row center">
            <button id="signup-submit" type="submit">Sign Up</button>
          </div>
      </form>

      <form id="login-form" method="post" action="/login">
        <h4>Log In</h4>
          <label class="input-group col-1-3">
            <input id="user-username" type="text" name="user[username]">
            <span class="input-group-label"><h6>Username</h6></span>
          </label>

          <label class="input-group col-1-3">
            <input id="user-password" type="password" name="user[password]" >
            <span class="input-group-label"><h6>Password</h6></span>
          </label>
          <br>

          <div class="row center">
            <button id="login-submit" type="submit">Log In</button>
          </div>
      </form>

      <div id="readme-section" class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Welcome!</h4>
          <p class="left-align light">With this application, you can display data on NYC population and
            water data consumption from 1979 to 2016.</p>
        </div>
      </div>

      <div id="user-data" class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>

          <h4>Welcome #, here's your data</h4>

          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>

    </div>
  </div>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
